@{
    ViewData["Title"] = "Disney";
    <div class="pb-2"></div>
}

<center><div class="card mb-3 descrperso" style=""> 
  <div class="row g-0 ">
    <div class="col-md-4 divperso">
      <center> <img src= /@ViewBag.UnPersonaje.Imagen2 class="img-fluid imagenPerso" alt="..."> </center>
    </div>
    
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title">@ViewBag.UnPersonaje.Nombre</h3>
        <p class="card-text">@ViewBag.UnPersonaje.Descripcion</p>
       <p class="card-text"> Su vestimenta es: @ViewBag.UnPersonaje.Vestimenta</p>
      </div>
    </div>
  </div>
</div>  
</center>