USE [DISNEY]
GO
/****** Object:  Table [dbo].[Pelicula]    Script Date: 17/11/2022 14:34:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pelicula](
	[IdPelicula] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Descripcion] [varchar](1000) NULL,
	[FechaCreacion] [datetime] NULL,
	[Duracion] [int] NULL,
	[CantPeliculas] [int] NULL,
	[Imagen1] [varchar](50) NULL,
	[Imagen2] [varchar](50) NULL,
 CONSTRAINT [PK_Peliculas] PRIMARY KEY CLUSTERED 
(
	[IdPelicula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personaje]    Script Date: 17/11/2022 14:34:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personaje](
	[IdPersonaje] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](255) NULL,
	[Descripcion] [text] NULL,
	[Vestimenta] [text] NULL,
	[Imagen1] [varchar](255) NULL,
	[Imagen2] [varchar](255) NULL,
	[IdPelicula] [int] NULL,
	[IdSerie] [int] NULL,
 CONSTRAINT [PK_Personajes] PRIMARY KEY CLUSTERED 
(
	[IdPersonaje] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Serie]    Script Date: 17/11/2022 14:34:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Serie](
	[IdSerie] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Descripcion] [varchar](1000) NULL,
	[FechaCreacion] [datetime] NULL,
	[CantCapitulos] [int] NULL,
	[Imagen1] [varchar](50) NULL,
	[Imagen2] [varchar](50) NULL,
 CONSTRAINT [PK_Serie] PRIMARY KEY CLUSTERED 
(
	[IdSerie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Pelicula] ON 

INSERT [dbo].[Pelicula] ([IdPelicula], [Nombre], [Descripcion], [FechaCreacion], [Duracion], [CantPeliculas], [Imagen1], [Imagen2]) VALUES (2, N'Toy Story', N'La franquicia se basa en el concepto antropomórfico de que todos los juguetes, sin conocimiento de los seres humanos, están secretamente vivos, y las películas se centran en un diverso grupo de juguetes que incluyen un vaquero clásico, el Sheriff Woody y el moderno astronauta Buzz Lightyear. ', CAST(N'1995-11-22T00:00:00.000' AS DateTime), 80, 4, N'TOYSTORY1.JPG', N'Toy-Story.jpg')
SET IDENTITY_INSERT [dbo].[Pelicula] OFF
GO
SET IDENTITY_INSERT [dbo].[Personaje] ON 

SET IDENTITY_INSERT [dbo].[Personaje] OFF
GO
SET IDENTITY_INSERT [dbo].[Serie] ON 

INSERT [dbo].[Serie] ([IdSerie], [Nombre], [Descripcion], [FechaCreacion], [CantCapitulos], [Imagen1], [Imagen2]) VALUES (1, N'Phineas y Ferb', N'La serie sigue las vivencias de Phineas Flynn y su hermanastro británico Ferb Fletcher durante las vacaciones de verano.1? Cada día, los chicos se embarcan en un proyecto nuevo más allá de las capacidades normales de unos niños, lo que molesta a su hermana Candace Flynn, quien trata de revelarle tales proyectos a sus padres.', CAST(N'2007-09-28T00:00:00.000' AS DateTime), 140, N'PHINEASYFERBSERIE1.JPG', N'phineasyferbb.jpg')
INSERT [dbo].[Serie] ([IdSerie], [Nombre], [Descripcion], [FechaCreacion], [CantCapitulos], [Imagen1], [Imagen2]) VALUES (2, N'Mickey Mouse', N'Mickey Mouse es una serie de comedia animada que gira en torno al dibujo animado de mismo nombre. Mickey se enfrenta a nuevas y disparatadas aventuras en diferentes escenarios como París, Venecia, Tokio o Nueva York.', CAST(N'1928-11-18T00:00:00.000' AS DateTime), 96, N'MICKEYMOUSESERIE1.JPG', N'MICKEY.jpg')
INSERT [dbo].[Serie] ([IdSerie], [Nombre], [Descripcion], [FechaCreacion], [CantCapitulos], [Imagen1], [Imagen2]) VALUES (3, N'Liv y Maddie', N'Liv y Maddie (título original: Liv and Maddie)nota 1? es una serie de televisión estadounidense creada por John Beck y Ron Hart, y producida en forma conjunta por Beck & Hart Productions, Oops Doughnuts Productions e It Is a Laugh Productions para Disney Channel. La serie comenzó su producción en abril y se emitió por primera vez el 19 de julio de 2013.2?', CAST(N'2013-07-19T00:00:00.000' AS DateTime), 80, N'LIVYMADDIESERIE1.JPG', N'LIV.jpg')
SET IDENTITY_INSERT [dbo].[Serie] OFF
GO
ALTER TABLE [dbo].[Personaje]  WITH CHECK ADD  CONSTRAINT [FK_Personaje_Pelicula] FOREIGN KEY([IdPelicula])
REFERENCES [dbo].[Pelicula] ([IdPelicula])
GO
ALTER TABLE [dbo].[Personaje] CHECK CONSTRAINT [FK_Personaje_Pelicula]
GO
ALTER TABLE [dbo].[Personaje]  WITH CHECK ADD  CONSTRAINT [FK_Personaje_Serie] FOREIGN KEY([IdSerie])
REFERENCES [dbo].[Serie] ([IdSerie])
GO
ALTER TABLE [dbo].[Personaje] CHECK CONSTRAINT [FK_Personaje_Serie]
GO
